@{
    ViewData["Title"] = "Perfil del Médico";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<hr />

<div>
    <h4><strong>Nombre:</strong> Dra. Carolina Soto Vega</h4>
    <p><strong>RUT:</strong> 14.987.654-3</p>
    <p><strong>Hospital:</strong> @ViewBag.NombreHospital</p>
    <p><strong>Especialidad:</strong> Cardiología</p>
    <p><strong>Horario de Atención:</strong> Lunes a Jueves, 09:00 - 13:00 hrs.</p>
</div>
