@model Paciente
<h1>Registrar Nuevo Paciente</h1>
<form asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Rut" class="form-label"></label>
        <input asp-for="Rut" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="FechaNacimiento" class="form-label"></label>
        <input asp-for="FechaNacimiento" class="form-control" type="date" />
    </div>
    <button type="submit" class="btn btn-success">Guardar Paciente</button>
</form>
