@{
    ViewData["Title"] = "Ficha del Paciente";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<hr />

<div>
    <h4><strong>Nombre:</strong> Juan Ignacio Pérez Rojas</h4>
    <p><strong>RUT:</strong> 15.123.456-7</p>
    <p><strong>Fecha de Nacimiento:</strong> 20/05/1989</p>
    <p><strong>Previsión:</strong> Isapre Cruz Blanca</p>
</div>
